@page "/search"
@using System.Net.Http.Headers
@using System.ComponentModel.DataAnnotations;
@using ECommerse.Gui.Components
@using System.Text.Json

@inject HttpClient http


<PageTitle>Search</PageTitle>

<h1 class="h1">Search Page</h1>

@if (showMessage)
{
    <Message message=@alertMessage />
}
<EditForm Model="@model" OnInvalidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-group m-3">
        <div>
            <InputText class="form-control" @bind-Value="model!.Name" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </div>

</EditForm>

@code {
    private Product model = new();
    private bool showMessage = false;
    private string alertMessage = "Show alert message!";
    public class Product
    {
        [Required(ErrorMessage = "Id is required")]
        public Guid Id { get; set; } = new Guid();

        [Required(ErrorMessage = "Name is required")]
        public string Name { get; set; } = string.Empty;
    }

    private async void HandleValidSubmit()
    {
        // Generate a random id for the searched product object
        model.Id = new Guid();
        try
        {
            var response = await http.PostAsJsonAsync<Product>("https://192.168.2.15:7130/api/products", model);

            if (response.IsSuccessStatusCode)
            {
                alertMessage = "Product found!";
                showMessage = true;
            }
            else
            {
                alertMessage = "No product found!";
                showMessage = true;
            }
        }
        catch (Exception ex)
        {
            alertMessage = ex.Message;
            showMessage = true;
            return;
        }
    }
}